@font-color: #262626;
@link-color-hover: #262626;
@link-color: #262626bf;  //rgba 38,38,38,.75
@font-color-light: #262626bf;
@icon-color-light: #8C8C8C;
@background-color: #fff;
@background-color-dark: #E5E5E5;
@border-color: #E2E8F0;
@box-shadow: 0 0 1px 3px #0000000a, 0 0 2px 8px #00000014;