@import '../../../../assets/css/base.less';

.login-card {
    overflow: hidden;
    display: flex;
    width: 200px;
    height: 85vh;
    border-radius: @boreder-radius-big;
    box-shadow: @box-shadow;
    .login-card__left {
        display: none;
    }
    .login-card__right {
        display: flex;
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
}

@media screen and (min-width: 912px) {
    .login-card {
        width: 76vw;
        height: 38vw;
        .login-card__left {
            display: block;
            width: 62%;
            background: url(../../../../assets/imgs/login-img.png) center no-repeat;
            background-size: 100% 100%;
        }
        .login-card__right {
            width: 38%;
            .login-card__right__nav {
                font-size: @main-nav-size;
                span {
                    padding: 0px .5em 1em .5em;
                }
            }
            .login-card__right__input {
                width: 100%;
                padding: 1em 0;
                text-align: center;
                flex: 1;

                .login-card__right__input__item {
                    width: 100%;
                    margin: 1em 0;
                }
            }
            .login-card__right__submit-btn {
                width: 80%;
                font-size: @main-nav-size;
            }
            .login-card__right__else-login {
                width: 100%;
                height: 10vw;
                background-color: pink;
            }
        }
    }
}
