.home-page {
    .home-header {
        .home-header__logo {
            height: 30px;
            img {
                height: 100%;
            }
        }

        .home-header__right {
            display: flex;
            height: 100%;
            align-items: center;

            .home-header__nav {
                align-self: flex-end;
                margin-right: 16px;
            }

            .home-header__nav-item {
                color: var(--vi-font-color);
                padding-top: 12px;
                padding-bottom: 6px;
            }
        }
    }

    

    .home-content {
        display: flex;
        height: 100%;
        padding: 16px;
        justify-content: space-between;
        box-sizing: border-box;
        
        .home-content__main-content {
            width: 100px;
            padding-left: 16px;
            // background-color: pink;
            box-sizing: border-box;
            flex: 1;
        }
    }
}