.home-page {
    .home-header__logo {
        height: 30px;
        img {
            height: 100%;
        }
    }

    .vi-header-content {
        justify-content: space-between;
    }

    .home-header_right {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .home-header_nav {
        align-self: self-end;
        margin-right: 16px;
    }

    .home-header-nav-item {
        // font-weight: 500;
        font-size: 14px;
        padding-bottom: 6px;
    }

    .home-content {
        display: flex;
        height: 100%;
        padding: 16px;
        justify-content: space-between;
        box-sizing: border-box;
        
        .home-content__main-content {
            width: 100px;
            padding-left: 16px;
            // background-color: pink;
            box-sizing: border-box;
            flex: 1;
        }
    }

    h1 {
        padding: 0;
        color: var(--vi-font-color);
    }
}