.home-page {
    .home-header {
        .home-header__logo {
            height: 30px;
            img {
                height: 100%;
            }
        }

        .home-header__right {
            display: flex;
            height: 100%;
            align-items: center;

            .home-header__nav {
                align-self: flex-end;
                margin-right: 16px;
            }

            .home-header__nav-item {
                color: var(--vi-font-color);
                padding-top: 12px;
                padding-bottom: 6px;
            }
        }
    }

    .home-content {
        position: relative;
        display: flex;
        padding: 16px;
        padding-bottom: 0;
        justify-content: space-between;
        box-sizing: border-box;

        .home-content__menu-content {
            .home-content__menu {
                display: block;
            }
        }
        
        .home-content__main-content {
            width: 100px;
            padding-left: 16px;
            box-sizing: border-box;
            flex: 1;
        }
    }

    .home-tabbar {
        display: none;
        .vi-icon {
            font-size: 24px;
        }

        .home-tabbar__new-btn {
            display: flex;
            position: relative;
            top: -8px;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background: linear-gradient(to left, #849afe, #d094f9);
            align-items: center;
            justify-content: center;

            .home-tabbar__new-btn__add {
                width: 32px;
                cursor: pointer;
                path {
                    stroke-width: 2;
                    stroke: #fff;
                    fill: none;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .home-page {
        .home-content {
            .home-content__menu-content {
                display: none;
                .home-content__menu {
                    display: none;
                }
            }
    
            .home-content__main-content {
                width: 100%;
                padding-left: 0;
                box-sizing: border-box;
                flex: 1;
            }
        }

        .home-tabbar {
            display: block;
        }
    }
}