.find-password-view {
    width: 100%;
    height: 100%;
    background: url('../img/find-password.png') border-box bottom center no-repeat;
    background-size: 50vh;

    .find-password-view__find-card__title {
        margin-top: 1em;
    }

    .find-password-view__find-card {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .find-password-view__find-card__finish {
            padding-top: 48px;
            h2 {
                color: var(--vi-green-color1);
                padding-bottom: 1.2em;
            }

            h3 {
                font-weight: 500;
                font-size: 20px;
                color: var(--vi-link-color);
            }
        }

        .find-password-view__find-card__form {
            --vi-input-height: 2.4em;
            --vi-form-label-width: auto;
            --vi-form-item-gap: 1.5em;
            margin-top: 1.5em;

            .find-password-view__find-card__form__submit-btn {
                width: 10em;
                margin-top: 1.5em;
            }
        }
    }
}