.type-card.line-card {
    --type-card-color1: #FF7183; 
    --type-card-color2: #F3B5D1;
    &:hover {
        .line {
            // animation: pie .4s linear 0s 1;
            path:first-of-type {
                animation: l1 .4s linear 0s 1;
            }
            path:nth-of-type(2) {
                animation: l2 .4s linear 0s 1;
            }
            circle:nth-of-type(1),
            circle:nth-of-type(5) {
                animation: c1 .4s linear 0s 1;
            }
            circle:nth-of-type(2),
            circle:nth-of-type(6) {
                animation: c2 .4s linear 0s 1;
            }
            circle:nth-of-type(3),
            circle:nth-of-type(7) {
                animation: c3 .4s linear 0s 1;
            }
            circle:nth-of-type(4),
            circle:nth-of-type(8) {
                animation: c4 .4s linear 0s 1;
            }
        }
    }
}

@keyframes l1 {
    0% {
        stroke-dasharray: 510;
        stroke-dashoffset: 510;
    }

    25% {
        stroke-dasharray: 510;
        stroke-dashoffset: 350;
    }

    50% {
        stroke-dasharray: 510;
        stroke-dashoffset: 210;
    }

    75% {
        stroke-dasharray: 510;
        stroke-dashoffset: 120;
    }

    100% {
        stroke-dasharray: 510;
        stroke-dashoffset: 0;
    }
}

@keyframes l2 {
    0% {
        stroke-dasharray: 530;
        stroke-dashoffset: 530;
    }
    25% {
        stroke-dasharray: 530;
        stroke-dashoffset: 420;
    }
    50% {
        stroke-dasharray: 530;
        stroke-dashoffset: 330;
    }
    75% {
        stroke-dasharray: 530;
        stroke-dashoffset: 220;
    }
    100% {
        stroke-dasharray: 530;
        stroke-dashoffset: 0;
    }
}

@keyframes c1 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
}

@keyframes c2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes c3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

@keyframes c4 {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}